@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:ital,wght@0,500;0,600;0,700;0,900;1,800&display=swap');

/* shared style */
* {
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.btn-primary {
    /* display: inline-flex; */
    padding: 10px 24px;
    /* align-items: flex-start; */
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 25px;
    font-weight: 600;
    font-style: 1rem;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

/* banner style */
.banner-content{
    display: flex;
    padding: 5rem;
}
.banner-title {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
}

.section-description {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 600;
}
.camera-img-container{
    margin-left: 29rem;
}
.camera-img{
    position: relative;
    bottom: 28rem;
    border: 2px solid blueviolet;
}
